<launch>

  <arg name="robot_name" default="m100"/>
  <arg name="launch_prefix" default=""/>
  <arg name="xm" />
  <arg name="ym" />
  <arg name="zm" />
  <arg name="robotName" />

  <!-- Config files -->
  <arg name="gbplanner_config_file" default="$(find gbplanner)/config/$(arg robot_name)/gbplanner_config.yaml"/>
  <arg name="voxblox_config_file" default="$(find gbplanner)/config/$(arg robot_name)/voxblox_sim_config.yaml"/>
  <arg name="map_config_file" default="$(arg voxblox_config_file)"/>
   <arg name="pci_file" default="$(find gbplanner)/config/$(arg robot_name)/planner_control_interface_sim_config.yaml"/>

<group ns="$(arg robotName)">
 <!-- Static TF -->
  <node pkg="tf" type="static_transform_publisher" name="tf_53" args="0 0 0 0 0 0 world navigation 100" />
  <node pkg="tf" type="static_transform_publisher" name="tf_51" args="0.15 0 0.0 0.0 0.261 0.0 /$(arg robotName)/base_link $(arg robotName)/vi_sensor/base_link 10" />
  <node pkg="tf" type="static_transform_publisher" name="tf_1" args="0 0 0 0 0 0 /$(arg robotName)/vi_sensor/base_link fcu 1" />
  <node pkg="tf" type="static_transform_publisher" name="tf_2" args="0.015 0.055 0.0065 -1.57 0.1 -1.57 fcu /$(arg robotName)/vi_sensor/camera_depth_optical_center_link 1" />
  <node pkg="tf" type="static_transform_publisher" name="tf_3" args="0.015 0.055 0.0065 -1.57 0.1 -1.57 fcu /$(arg robotName)/vi_sensor/camera_left_link 1" />
  <node pkg="tf" type="static_transform_publisher" name="tf_4" args="0.015 -0.055 0.0065 -1.57 0.1 -1.57 fcu /$(arg robotName)/vi_sensor/camera_right_link 1" />
  <node pkg="tf" type="static_transform_publisher" name="tf_5" args="0 0 0.05 0.0 0.0 0.0 /$(arg robotName)/base_link /$(arg robotName)/$(arg robotName)/velodyne 10" />



    <node name="img_throttler" type="throttle" pkg="topic_tools" args="messages  /$(arg robotName)/vi_sensor/camera_depth/depth/points 5 /$(arg robotName)/$(arg robot_name)/vi_sensor/camera_depth/depth/points_throttled" />
    <node name="odo_throttler" type="throttle" pkg="topic_tools" args="messages /$(arg robotName)/ground_truth/odometry 100 /$(arg robotName)/$(arg robot_name)/ground_truth/odometry_throttled" />

  <!-- MAV launch -->
    <include file="$(find rotors_gazebo)/launch/spawn_mav.launch">
      <arg name="mav_name" value="$(arg robotName)" />
      <arg name="model" value="$(find rotors_description)/urdf/$(arg robot_name).gazebo" />
      <arg name="enable_ground_truth" value="true" />
      <arg name="x" value="$(arg xm)"/>
      <arg name="y" value="$(arg ym)"/>
      <arg name="z" value="$(arg zm)"/>
    </include>

 

 <!-- Position controller  -->
    <node name="lee_position_controller_node" pkg="rotors_control" type="lee_position_controller_node" output="screen">
      <rosparam command="load" file="$(find rotors_gazebo)/resource/lee_controller_$(arg robot_name).yaml" />
      <rosparam command="load" file="$(find rotors_gazebo)/resource/$(arg robot_name).yaml" />
      <remap from="odometry" to="/$(arg robotName)/odometry_sensor1/odometry" />
    </node>
  </group>

  <arg name="odometry_topic" default="/$(arg robotName)/$(arg robot_name)/ground_truth/odometry_throttled"/>
  <node name="pose_throttler" type="throttle" pkg="topic_tools" args="messages /$(arg robotName)/ground_truth/pose_with_covariance 10 /$(arg robotName)/$(arg robot_name)/msf_core/pose" />
  <!-- Graph based planning -->
  <node pkg="gbplanner" type="gbplanner_node" name="gbplanner_node" output="screen" launch-prefix="$(arg launch_prefix)">
    <remap from="odometry" to="$(arg odometry_topic)" />
    <remap from="/pointcloud" to="/$(arg robotName)/$(arg robotName)/velodyne_points" />
    <rosparam command="load" file="$(arg gbplanner_config_file)" />
    <rosparam command="load" file="$(arg map_config_file)" />
  </node>
  
  <!-- Planner and Control Interface -->
  <node pkg="pci_mav" type="pci_mav_ros_node" name="pci_mav_ros_node" output="screen">
    <remap from="command/trajectory" to="$(arg robotName)/command/trajectory" />
    <remap from="planner_server" to="gbplanner" />
    <remap from="planner_homing_server" to="gbplanner/homing" />
    <remap from="odometry" to="$(arg odometry_topic)"/>
    <rosparam command="load" file="$(arg pci_file)" />
  </node>

</launch>
