<launch>

  <!-- BEGIN ROBOT 1-->
    <group ns="m100">
    <include file="$(find gbplanner)/launch/m100/1robot.launch" >
      <arg name="xm" value="0.0"/>
      <arg name="ym" value="0.5"/>
      <arg name="zm" value="1.0"/>
      <arg name="robotName" value="m100"/>
      <arg name="launch_prefix" value="" />
      
    </include>
  </group>

  <!-- BEGIN ROBOT 2-->
  <group ns="m101">
    <include file="$(find gbplanner)/launch/m100/1robot.launch" >
      <arg name="xm" value="-3.0"/>
      <arg name="ym" value="0.5"/>
      <arg name="zm" value="1.0"/>
      <arg name="robotName"  value="m101" />
      <arg name="launch_prefix" value="" />
      
    </include>
  </group>
</launch>

